<br><br><br><br>


<div class="container mx-auto p-8">

    <!-- User Avatar and Name Section -->
    <div class="flex items-center mb-8">
        <img src="https://cdn-icons-png.flaticon.com/512/3607/3607444.png" alt="User Avatar" class="w-20 h-20 rounded-full mr-4">
        <div>
            <h2 class="text-3xl font-semibold text-blue-900">John Doe</h2>
            <p class="text-gray-600">john.doe@example.com</p>
        </div>
    </div>

    <!-- Discussion Section -->
    <div class="mb-8">
        <h3 class="text-xl font-semibold mb-4">Discussion</h3>
        <table class="min-w-full bg-blue-100 border border-blue-300">
            <thead>
            <tr>
                <th class="py-2 px-4 border-b">Title</th>
                <th class="py-2 px-4 border-b">Date</th>
                <th class="py-2 px-4 border-b">Action</th>
            </tr>
            </thead>
            <tbody>
           
            <tr>
                <td class="py-2 px-4 border-b">Discussion 1</td>
                <td class="py-2 px-4 border-b">2023-01-01</td>
                <td class="py-2 px-4 border-b">view</td>
            </tr>
           
            
            </tbody>
        </table>
    </div>

    <!-- Books Section -->
    <div>
        <h3 class="text-xl font-semibold mb-4">Books</h3>
        <div *ngIf="userBooks.length > 0; else noBooks">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                <div *ngFor="let book of userBooks" class="bg-blue-100 p-4 rounded-md shadow-md">
                    <img [src]="book.image" alt="Book Cover" class="w-full h-32 object-cover mb-4">
                    <h4 class="text-lg font-semibold text-blue-900">{{ book.title }}</h4>
                    <p class="text-gray-600">Author: {{ book.author }}</p>
                </div>
            </div>
        </div>
        <ng-template #noBooks>
            <p>No books added yet.</p>
        </ng-template>
    </div>

</div>