.container
{
    width:98%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.searchContainer{
    width:100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    gap:10px;
    justify-content: space-around;
    margin-top: 12px;
}